{% load bootstrap4 %}

<!doctype html>
<html lang="ru">
  <head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'Personal_diarys:index' %}">
        ДНЕВНИК</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Personal_diarys:topics' %}">
              ТЕМЫ</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text">Приветствуем вас, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">ВЫХОД</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">РЕГИСТРАЦИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">ВХОД</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
        {% block content %}{% endblock content %}
    </main>

  </body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <title>ДНЕВНИК</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
</html>